/**
 This is our custom CSS file. Please edit only this file
*/
body{
    min-width: 900px;
}

.sourcelogo{
    max-width: 120px;
    max-height: 50px;
}

#resultstable_length,
#reviewresultstable_length{
    float: right;
}
.row.whiterow{
    background: #ffffff;
    display: block;
    padding: 0px;
    margin: -4px -7px;
}
.row.whiterow > div{
    padding: 0;
    min-height: 270px;
}
.row.whiterow .border-lecfinternalcol{
    border-left: 1px solid #ddd;
    margin-left: -1px;

}
.wrapcol{
    white-space: normal;
    line-height: 16px !important;    
}
.wrapcol .label{
    font-size: 13px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    font-weight: normal;
    display: inline-block;
}

.txtcenter{
    text-align: center;
}

.scorenumber{
    font-size: 18px;
}

#resultstable th{
    white-space: nowrap;
}

#resultstable td.txtnowrap{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 250px;
}

.dataTables_processing{
    height: 50px;
    padding-top: 15px;
}

.ellipsisurl{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: block;
    max-width: 400px;
}

.internalresultstable .tdlabel{
    font-weight: bold;
    background: #f5f5f5;
    width: 90px;
    font-variant: small-caps;
    padding: 0;
    margin: 0;
}
.internalresultstable td{
    vertical-align: middle;
}

#resultstable td {
    vertical-align: middle;
    padding: 3px 7px!important;
}
td .forcenopadding{
    padding: 0!important;
}